!!! XML
%testcases
  %test
    %prec
      Set_EnablingConditions_For_Lock_Unlock TRUE
      Set_Valid_FOB_Prog 1
    %exp_p
      Set_AP1 Unlcok
      Set_wait_ms 100

      Read_RFFuncReq DRIVER_UNLOCK_REQUEST
      Read_RFReq REQUESTOR_PE
      Read_RFFobNum 0
    %post

  %test
    %prec
      set_voltage     5
    %exp_p
      set_voltage     5
      read_voltage    5
      rqst_data1      5    |    5

  %test
    %prec
      set_voltage     5
    %exp_p
      set_voltage     5
      read_voltage    5
      rqst_data1      5    |    5
    %post
      read_voltage    5
      rqst_data1      5    |    5